:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background-color: var(--light-grayish-blue);
}
/* Card */
.card {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 900px;
    min-width: 400px;
    border-radius: 1rem;
    box-shadow: 3px 3px 50px lightgray;
}

@media (max-width: 768px) {
   .card {
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr;
       max-width: 70%;
   }
   /* Reparar los bordes de las imagenes en modo movil */
   .card__image {
       border-radius: 1rem 1rem 0 0;
   }
   .card__description {
       border-radius: 0 0 1rem 1rem;
   }
}

/* Imagen */
.card__image {
    background-image: url(/images/drawers.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 1rem 0 0 1rem;
}

/* Contenido */
.card__description {
    padding: 2.5rem;
    background-color: white;
    border-radius: 0 1rem 1rem 0;
}

.card__title {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--very-dark-grayish-blue);
    margin-bottom: 1rem;
}

.card__text {
    margin-bottom: 1rem;
    color: var(--desaturated-dark-blue);
    line-height: 23px;
    margin-bottom: 2rem;
}

.card__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.card__avatar {
    border-radius: 50%;
    width: 20%;
}

.card__personal {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__name {
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: .5rem;
}

.card__date {
    color: var(--desaturated-dark-blue);
}

.card__share {
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
    transform: scale(1.5);
}

.tooltip {
    background-color: var(--very-dark-grayish-blue);
    position: absolute;
    right: -70px;
    top: -70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;
    color: var(--desaturated-dark-blue);
    border-radius: .5rem;
    box-shadow: 4px 4px 30px gray;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s ease-in;
}

.tooltip.active {
    opacity: 1;
    visibility: visible;
}

.tooltip::before {
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    background-color: inherit;
    right: 70px;
    top: 45px;
    transform: rotate(45deg);

}

.tooltip__text {
    font-size: 1rem;
    letter-spacing: .3rem;
}
