/* --- VARIABLES CSS --- */
:root {
  /* Colors */
  --clr-primary: hsl(0, 0%, 98%);
  --clr-secondary: hsl(0, 0%, 41%);
  --clr-tertiary: hsl(0, 0%, 8%);
  --clr-bg: ;
  /* Font and typography */
  --font-family: "Epilogue", sans-serif;
  --font-medium: 500;
  --font-bold: 700;
  /* z-index */
  --z-first: 10;
  --z-second: 20;
  --z-third: 30;
  --z-modal: 999;
}

/* --- DARK MODE / HIGH CONTRAST --- */

@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: ;
    --clr-secondary: ;
  }
}

@media (prefers-contrast: high) {
  :root {
    --clr-primary: ;
    --clr-secondary: ;
  }
}

/* --- RESET --- */

*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 1px solid blue; */
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --- BASE & UTILITIES --- */

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: var(--font-medium);
  color: var(--clr-tertiary);
  background-color: var(--clr-primary);
  overflow-x: hidden;
}

.container {
  width: min(100%, 1440px);
}

.button {
  display: inline-block;
  color: inherit;
  font-weight: var(--font-bold);
  padding: 1rem 1.5rem;
  margin: 0.3rem;
  border-radius: 1rem;
  border: 2px solid transparent;
  background-color: var(--clr-primary);
  cursor: pointer;
}

.button--invert {
  color: var(--clr-primary);
  background-color: var(--clr-tertiary);
}

.button:hover {
  color: var(--clr-tertiary);
  border: 2px solid var(--clr-tertiary);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: auto;
}

/* Menu */

.icon-menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  background-image: url(../images/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: var(--z-first);
}

.icon-menu--open {
  background-image: url(../images/icon-close-menu.svg);
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  min-height: 100vh;
  color: var(--clr-secondary);
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.menu--open {
  background-color: var(--clr-primary);
  transform: translateX(0);
  box-shadow: 0 0 0 100vmax hsla(0, 0%, 0%, 0.5);
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav__link {
  display: flex;
  align-items: center;
  min-width: 160px;
}

.nav__link--arrow::after {
  padding-left: 0.5rem;
  content: url(../images/icon-arrow-down.svg);
}

.nav__item--active .nav__link--arrow::after {
  content: url(../images/icon-arrow-up.svg);
}

.nav__link:hover,
.features__item:hover,
.company__item:hover {
  color: var(--clr-tertiary);
}

.features__list,
.company__list {
  display: none;
  padding: 1rem;
}

.nav__item--active .features__list,
.nav__item--active .company__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.features__link--todo::before {
  content: url(../images/icon-todo.svg);
  padding-right: 1rem;
}

.features__link--calendar::before {
  content: url(../images/icon-calendar.svg);
  padding-right: 1rem;
}

.features__link--reminder::before {
  content: url(../images/icon-reminders.svg);
  padding-right: 1rem;
}

.features__link--planning::before {
  content: url(../images/icon-planning.svg);
  padding-right: 1rem;
}

.access {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CONTENT */

.content {
  text-align: center;
  padding: 1rem;
}

.content__title {
  font-size: 2.5rem;
}

.content__description {
  color: var(--clr-secondary);
  line-height: 2rem;
  font-size: 1.3rem;
}

.content__link {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands__item {
  padding: 0.3rem;
}

/* --- BREAKPOINTS --- */

@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-rows: 10% 90%;
  }

  .icon-menu {
    display: none;
  }

  .menu {
    position: static;
    right: auto;
    top: auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-width: inherit;
    min-height: inherit;
    color: var(--clr-secondary);
    transform: translateY(0);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .nav__list {
    flex-direction: row;
    gap: 0;
  }

  .nav__item {
    position: relative;
  }

  .features__list,
  .company__list {
    position: absolute;
  }

  .access {
    flex-direction: row;
  }

  .menu--open {
    background-color: var(--clr-primary);
    transform: translateY(0);
    box-shadow: none;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content image";
    place-items: center;
    padding: 2rem;
    gap: 2rem;
  }

  .image {
    grid-area: image;
    max-width: 500px;
  }

  .content {
    grid-area: content;
  }

  .content {
    text-align: left;
  }

  .content__title {
    font-size: 3rem;
  }
}
