/* --- VARIABLES CSS --- */
:root {
  /* Colors */
  --clr-primary: hsl(240, 17%, 12%);
  --clr-secondary: hsl(240, 4%, 39%);
  --clr-accent: hsl(227, 100%, 63%);
  --clr-bg: hsl(0, 0%, 100%);
  /* Font and typography */
  --ff-inter: "Inter", sans-serif;
  --ff-opensans: "Open Sans", sans-serif;
  /* z-index */
  --z-first: 10;
  --z-second: 20;
  --z-third: 30;
  --z-modal: 999;
}

/* --- RESET --- */

*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  display: block;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* --- BASE --- */

body {
  min-height: 100vh;
  font-family: var(--ff-inter);
  font-weight: 400;
  color: var(--clr-primary);
  background-color: var(--clr-bg);
  padding: 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.main {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 1rem;
}

/* Navigation */
.nav {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Photo area */
.photo {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.photo__image {
  border-radius: 1.25rem;
}

.photo__container {
  position: relative;
}

.photo__name {
  position: absolute;
  top: 2rem;
  right: -7rem;
  border-radius: 1.125rem;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  padding: 1.125rem;
}

.photo__title {
  font-weight: 700;
  font-size: 4.25rem;
  margin: 0;
}

.photo__line {
  display: inline-block;
  width: 152px;
  height: 8px;
  background-color: var(--clr-accent);
  border-radius: 50px;
}

.photo__title--blue {
  color: var(--clr-accent);
}

/* Description area */
.about {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.about__intro {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
}

.about__intro--blue {
  font-weight: 700;
  color: var(--clr-accent);
}

.about__title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.about__title--bold {
  font-weight: 700;
}

.about__title--blue {
  color: var(--clr-accent);
}

.about__description {
  color: var(--clr-secondary);
}

.about__link {
  color: var(--clr-secondary);
}

.about__more {
  display: flex;
  gap: 0.5rem;
  color: var(--clr-accent);
  font-weight: 700;
  align-items: center;
  padding: 0.5rem 0;
}

.about__projects {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.about__project {
  display: flex;
  align-items: center;
  padding: 0.825em 1.25em;
  text-decoration: none;
  font-weight: 700;
  gap: 0.3em;
  border-radius: 0.875rem;
}

.about__project--start {
  background-color: var(--clr-accent);
  color: var(--clr-bg);
}

.about__project--projects {
  color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
}

/* Footer */
.footer {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands {
  display: flex;
  gap: 3rem;
}

.brands__text {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--clr-secondary);
}

.social {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* CIRCLES */
.circle-one {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: -12rem;
  left: -10rem;
  width: 600px;
  height: 600px;
  background: hsla(227, 100%, 63%, 0.1);
}

.circle-two {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  background: hsla(227, 100%, 63%, 0.1);
  z-index: -1;
  right: -12rem;
  bottom: -25rem;
}

/* --- BREAKPOINTS --- */

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}
