*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #181719;
  color: #fff;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header__title {
  font-size: 1.3rem;
  font-family: "Crimson Pro", serif;
  font-weight: 200;
  text-transform: uppercase;
  padding: 0.5rem;
  border: thin solid #fff;
}

.header__nav {
  display: none;
}

.header__nav--show {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181719;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.header__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.header__link {
  color: #fff;
  text-decoration: none;
}

.header__link:hover {
  border-bottom: 2px solid #fff;
  transition: 0.3s ease-in-out;
  font-size: 1.2rem;
}

.header__menu {
  width: 3rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

/* MAIN */
.main {
  padding: 1rem;
}

.main__title {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  font-weight: 500;
}

.main__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
}

.main__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 3rem 0;
}

.main__arrow {
  width: 2rem;
  padding-left: 1rem;
}

.main__box-2 {
  margin-right: auto;
  margin-left: auto;
}

.main__image {
  width: 100%;
  max-width: 1024px;
}

/* CARD */
.card {
  width: 320px;
  padding: 1rem 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 100px;
  background-color: #181719;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.card__profile {
  display: flex;
  align-items: center;
}

.card__image {
  border-radius: 50%;
  width: 50px;
  margin-right: 1rem;
}

.card__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.card__job {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #828282;
}

.card__text {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 1.5rem;
}

/* FOOTER */
.footer {
  padding: 1rem;
  text-align: center;
}

.footer__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #a9a9a9;
}

.footer__text span {
  color: #fff;
}

/* MEDIAQUERRIES */
@media screen and (min-width: 64em) {
  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 2rem 0 2rem;
  }

  .header__nav {
    display: block;
    margin-left: auto;
    width: 60%;
  }

  .header__nav--show {
    display: block;
    margin-left: auto;
    width: 60%;
    background-color: #181719;
    position: inherit;
    height: auto;
  }

  .header__ul {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__menu {
    display: none;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    gap: 2rem;
    align-self: center;
  }

  .main__box-1,
  .main__box-2 {
    min-width: 300px;
  }

  .card {
    width: 400px;
    margin-right: 10px;
  }
}
