*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 2px solid slategray;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}