$light: hsl(0, 0%, 100%);
$dark: hsl(23, 33%, 9%);
$accent: hsl(4, 78%, 75%);
$secondary: hsl(0, 0%, 90%);
$tertiary: hsl(0, 0%, 97%);
$circle-one: hsl(4,78%, 55%, 0.6);
$circle-two: hsl(4,78%, 75%, 0.6);
$circle-three: hsl(4, 78%, 35%, 0.6);

$font-family: 'Roboto', sans-serif;

$font-xxl: 90px;
$font-xl: 40px;
$font-m: 28px;
$font-s: 20px;