*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

.wrapper .color {
  position: absolute;
  filter: blur(9.375rem);
}

.wrapper .color:nth-child(1) {
  top: -21.875rem;
  width: 37.5rem;
  height: 37.5rem;
  background-color: #ff359b;
}

.wrapper .color:nth-child(2) {
  bottom: -9.375rem;
  left: 6.25rem;
  width: 31.25rem;
  height: 31.25rem;
  background-color: #fffd87;
}

.wrapper .color:nth-child(3) {
  bottom: 3.125rem;
  right: 6.25rem;
  width: 18.75rem;
  height: 18.75rem;
  background-color: #00d2ff;
}

/* BOX */

.box {
  position: relative;
}

.square {
  position: absolute;

  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.625rem;

  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

.square:nth-child(1) {
  top: -3.125rem;
  right: -3.75rem;
  width: 6.25rem;
  height: 6.25rem;
}

.square:nth-child(2) {
  top: 9.375rem;
  left: -6.25rem;
  width: 7.5rem;
  height: 7.5rem;
  z-index: 2;
}

.square:nth-child(3) {
  bottom: 3.125rem;
  right: -3.75rem;
  width: 5rem;
  height: 5rem;
  z-index: 2;
}

.square:nth-child(4) {
  bottom: -5rem;
  left: 6.25rem;
  width: 3.125rem;
  height: 3.125rem;
}

.square:nth-child(5) {
  top: -5rem;
  left: 8.75rem;
  width: 3.75rem;
  height: 3.75rem;
}

.box__container {
  position: relative;
  width: 25rem;
  min-height: 25rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.box__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
}

.box__title {
  position: relative;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  margin-bottom: 2.5rem;
}

.box__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.625rem;
  width: 5rem;
  height: 0.25rem;
  background-color: #fff;
}

/* FORM */

.form__label {
  display: block;
  width: 100%;
  margin-top: 1.25rem;
}

.form__input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 0.625rem 1.25rem;
  border-radius: 2.1875rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  letter-spacing: 0.0625rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
}

.form__input::placeholder {
  color: #fff;
}

.form__input--submit {
  background-color: #fff;
  color: #666;
  max-width: 6.25rem;
  cursor: pointer;
  margin-bottom: 1.25rem;
  font-weight: 600;
}

.form__forget {
  margin-top: 0.3125rem;
  color: #fff;
}

.form__link {
  color: #fff;
  font-weight: 600;
}

/* El ejericicio tiene problemas de contraste y tampoco usa variables para los colores. Algunas etiquetas tampoco son semánticas. */