body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.counter {
  text-align: center;
  color: #fff;
}

.counter__title {
  font-size: 6rem;
}

.counter__count {
  font-size: 6rem;
  color: #fff;
}

.counter__btn {
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.counter__btn:hover {
  background-color: #333;
  color: #fff;
}