/* Reset */

:root {
  --main-font: sans-serif;
  --font-size: 1rem;
  --main-color: #f7df1e;
  --second-color: #222;
  --main-modal-color: hsla(53, 93%, 54%, 0.85);
  --second-modal-color: hsla(0, 0%, 13%, 0.85);
  --container-width: 1200px;
  --modal-index: 3;
  --aside-index: 2;
  --header-index: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html {
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

/* Header */

.header {
  position: sticky;
  z-index: var(--header-index);
  top: 0;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--second-color);
}

.header__title {
  text-align: center;
  margin-block: 0;
}

/* Section */

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-inline: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
}

/* Hamburger */

.hamburger {
  position: fixed;
  z-index: var(--modal-index);
  bottom: 1vh;
  right: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

/* Aside */

.aside {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--aside-index);
  background-color: var(--second-modal-color);
  width: 100%;
  height: 100vh;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
  overflow-y: auto;
}

.aside.active {
  transform: translateY(0);
  opacity: 1;
}

.menu {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__list {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.menu__item {
  width: inherit;
}

.menu__link {
  padding: 1rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.4s ease;
}

.menu__link:hover {
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
}

/* Eventos del teclado */

.stage {
  display: flex;
  min-height: 50vh;
  background-color: var(--second-color);
}

.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--main-color);
}

/* Scroll Top Button */
.scroll-top-btn {
  position: fixed;
  z-index: var(--modal-index);
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Dark Theme */
.dark-theme-btn {
  position: fixed;
  z-index: var(--modal-index);
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dark-theme-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color);
}

/* Network Detection */
.online,
.offline {
  position: sticky;
  top: 0;
  z-index: var(--modal-index);
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #1b7e20;
  color: #fff;
}

.offline {
  background-color: #b71c1c;
}

/* Search Filters */
.card-filter {
  margin-block: 1rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background-color: var(--second-color);
  color: var(--main-color);
  transition: all 0.3s ease-out;
}

.card img {
  width: 100%;
  height: auto;
}

.card figcaption {
  padding: 1rem;
}

.filter {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

/* Slider */
.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.sliders-container {
  position: relative;
  height: 400px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
  visibility: visible;
}

.btn__slider {
  position: absolute;
  color: white;
  font-size: 3rem;
  text-decoration: none;
  transform: translateY(-50%);
  top: 50%;
}

.btn__slider--prev {
  left: 1rem;
}

.btn__slider--next {
  right: 1rem;
}

/* ScrollSpy */
@media screen and (min-width: 64rem) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem auto;
    grid-template-areas:
      "header header"
      "main aside";
  }

  .header {
    grid-area: header;
  }

  .main {
    grid-area: main;
  }

  .aside {
    grid-area: aside;
    position: sticky;
    background-color: var(--second-color);
    top: 4rem;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    height: calc(100vh - 4rem);
    overflow-y:initial;
  }
  
  .menu__list {
    height: 100%;
    justify-content: space-between;
  }  

  .menu__link {
    text-align: right;
    font-size: 1rem;
  }

  .menu__link:hover,
  .menu__link.active {
    color: var(--second-color);
    background-color: var(--main-color);
  }


  .hamburger {
    display: none;
  }

  .scroll-top-btn {
    right: initial;
    left: calc(4.25rem + 1vw);
  }
}
