/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  --animate-snow-1: animate-snow-1 5s infinite ease-in-out;
  --animate-snow-2: animate-snow-2 5s infinite ease-in-out;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(210, 80%, 54%);
  --first-color-alt: hsl(210, 80%, 50%);
  --title-color: hsl(210, 24%, 90%);
  --text-color: hsl(210, 16%, 70%);
  --white-color: #fff;
  --body-color: hsl(210, 32%, 4%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animations */
}

/* Snow animation */
@keyframes animate-snow-1 {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes animate-snow-2 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background 0.4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  display: flex;
  color: var(--white-color);
}

.nav__logo img {
  width: 1.875rem;
  transform: rotate(-10deg);
}

.nav__logo {
  align-items: center;
  column-gap: 0.25rem;
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 47.9375rem) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 3.5rem;
    transition: top 0.4s;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
  }

  .nav__link {
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: color 0.4s;
  }

  .nav__link:hover {
    color: var(--first-color);
  }

  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav__img-1,
  .nav__img-2 {
    position: absolute;
  }

  .nav__img-1 {
    width: 2.5rem;
    top: 6rem;
    left: 2.5rem;
    transform: rotate(-15deg);
  }

  .nav__img-2 {
    width: 3.75rem;
    right: 1rem;
    bottom: 2rem;
    transform: rotate(15deg);
  }
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Change background header */
.bg-header {
  background: var(--body-color);
}

/* Active link */

/*=============== HOME ===============*/
.home {
  position: relative;
  background: linear-gradient(180deg, hsl(210, 88%, 20%), hsl(210, 70%, 58%));
  height: 40.625rem;
  padding-top: 7rem;
  overflow: hidden;
}

.home__title {
  color: var(--white-color);
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-top: 1.5rem;
}

.home img {
  position: absolute;
}

.home__mountain-1,
.home__snow {
  bottom: 0;
}

.home__village,
.home__pine,
.home__moon,
.home__trineo {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.home__village {
  width: 16.25rem;
  bottom: 1rem;
}

.home__pine {
  width: 15.625rem;
  bottom: 4rem;
}

.home__mountain-2 {
  bottom: 3rem;
}

.home__mountain-3 {
  bottom: 6rem;
}

.home__moon {
  width: 18.75rem;
  bottom: 8.5rem;
}

.home__trineo {
  width: 15.625rem;
  bottom: 14.5rem;
}

/*=============== ABOUT ===============*/
.about__container {
  position: relative;
  row-gap: 3.5rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
}

.about__img {
  width: 20rem;
  justify-self: center;
}

.about__snow-1,
.about__snow-2 {
  width: 3.125rem;
  position: absolute;
}

.about__snow-1 {
  top: 12rem;
  left: 1.5rem;
  animation: var(--animate-snow-1);
}

.about__snow-2 {
  right: -0.75rem;
  bottom: 0.5rem;
  animation: var(--animate-snow-2);
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 2rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: background 0.4s, box-shadow 0.4s;
}

.button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 32px hsla(210, 80%, 54%, 0.7);
}
/*=============== SEND ===============*/
.send__container {
  position: relative;
  grid-template-columns: 12.5rem;
  justify-content: center;
  row-gap: 3rem;
  padding-top: 1.5rem;
}

.send__card {
  text-align: center;
}

.send__img {
  width: 11.25rem;
  margin-bottom: 0.75rem;
}

.send__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.send__description {
  font-size: var(--small-font-size);
  padding-inline: 1.5rem;
}

.send__snow-1,
.send__snow-2,
.send__snow-3 {
  width: 3.125rem;
  position: absolute;
}

.send__snow-1 {
  left: 0;
  top: 7rem;
  animation: var(--animate-snow-1);
}

.send__snow-2 {
  top: 23rem;
  right: 0;
  animation: var(--animate-snow-2);
}

.send__snow-3 {
  bottom: 9rem;
  left: 0;
  animation: var(--animate-snow-1);
}

/*=============== CELEBRATE ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For medium devices */

/* For large devices */

/* For 2K+ resolutions */
