body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.container {
  width: 80%;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.step {
  padding: 1rem;
  background-color: #dedede;
  border-radius: 50%;
}

.step--active {
  background-color: slateblue;
}

.buttons {
  text-align: center;
}

.btn {
  margin: 1rem;
  padding: 1rem;
}
