:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);
    --line: hsl(215, 32%, 27%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--main-bg);
    font-size: 18px;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

a {
    text-decoration-line: none;
}

.card {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--card-bg);
    padding: 1.5rem;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px 5px whitesmoke;
}

.card__nft {
    width: 100%;
    border-radius: 1rem;
}

.card__header {
    position: relative;
}

.card__nft--hover {
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 60%);
    width: 100%;
    height: calc(100% - 5px);
    z-index: 10;
    opacity: 0;
    border-radius: 1rem;
    transition: opacity .5s ease-in-out;
}

.card__nft--hover:hover {
    opacity: 1;
    cursor: pointer;
}

.card__nft--eye {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.card__title {
    color: var(--white);
    font-weight: 600;
}

.card__text {
    color: var(--soft-blue);
    font-weight: 400;
}

.card__container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--line);
    list-style: none;
}

.card__right,
.card__left {
    display: flex;
    align-items: center;
}

.icon__text--ethereum {
    color: var(--cyan);
}

.icon__text {
    padding-left: 0.2rem;
}

.card__author-special,
.icon__text--clock {
    color: var(--soft-blue);
}

.card__footer {
    text-align: center;
    margin: 1rem 0;
}

.card__avatar {
    width: 4rem;
    border-radius: 50%;
    border: 2px solid var(--white);
    vertical-align: middle;
}

.card__author {
    display: inline;
    padding-left: 1rem;
}

.card__author--link {
    color: var(--white);
}

.card__title:hover,
.card__author--link:hover {
    color: var(--cyan);
    cursor: pointer;
}

@media (min-width: 400px) {
    .card {
        width: 375px;
        margin: 0 auto;
    }
}