:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--very-dark-blue);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card */
.card {
    background-color: var(--dark-desaturated-blue);
    color: var(--white);
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
}
    
.card__image {
    width: 100%;
}

.card__body {
    padding: 2rem;
}

.card__title {
    font-weight: 700;
    font-size: 3rem;
}

.card__title--purple {
    color: var(--soft-violet);
}

.card__text {
    font-size: 1.5rem;
    color: var(--main-paragraph);
}

.card__list {
    list-style-type: none;
}

.card__number {
    font-size: 3rem;
}

.card__type {
    color: var(--main-paragraph);
    font-size: 2rem;
}


