:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: var(--very-dark-blue);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card */
.card {
    background-color: var(--dark-desaturated-blue);
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
}

/* Card Left */
.card__left {
    grid-column: 1;
    grid-row: 1;
}

.card__title {
    color: var(--white);
}

/* Card Right */
.card__right {
    grid-column: 2;
    grid-row: 1;
}



