:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --main-heading: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background-color: var(--main-background);
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.card {
  background-color: var(--card-background);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  max-width: 300px;
}

/* Imagen de fondo */
.card__header {
  position: relative;
  background: url(/images/image-header-mobile.jpg) no-repeat center/cover;
  height: 250px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(277, 64%, 61%, 0.5);
  width: 100%;
  height: 100%;
}

/* Contenido */
.card__content {
  margin: 1rem;
}

.card__content h2,
.card__content h3 {
  color: var(--main-heading);
}

.card__content span {
  color: var(--accent);
}

.card__content p {
  color: var(--main-paragraph);
}

/* Parte de estadísticas */
.card__numbers {
  margin-top: 3rem;
  margin-bottom: 3rem;
  list-style-type: none;
  padding-left: 0;
}

.card__numbers li {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card__numbers h3,
.card__numbers p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

/* MediaQuerries */
@media (min-width: 720px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1024px;
    text-align: left;
  }
  .card__header {
    background-image: url(/images/image-header-desktop.jpg) no-repeat
      center/cover;
    height: auto;
  }
  .card__header,
  .card__content {
    flex-grow: 1;
    flex-basis: 300px;
  }
  .card__content {
    margin: 0;
    padding: 3rem;
  }
  .card__numbers {
    display: flex;
    justify-content: space-between;
  }
}
