body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
nav,
section,
article,
footer {
  border: 1px solid grey;
  margin: 5px;
  padding: 8px;
}

.border-grey {
  border: 1px solid grey;
}

.nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 5px;
}

h1,
h2,
h3 {
  margin-left: 5px;
}
