/* MAIN STYLES */

:root {
  --clr-dark: #1d1d1d;
  --clr-mix: #333;
  --clr-light: #fff;
  --clr-accent: #00bcd4;
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* UTILITIES */

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  position: relative;
  font-size: var(--step-4);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* HOME */

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 30px;
  right: 40px;
  background-color: var(--clr-dark);
  z-index: 20;
}

.menu-btn__icon {
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__icon::before,
.menu-btn__icon::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__icon::before {
  transform: translateY(-10px);
}

.menu-btn__icon::after {
  transform: translateY(10px);
}

/* MENU ANIMATION */

.menu-btn.open .menu-btn__icon {
  transform: translateX(-50px);
  background-color: transparent;
}

.menu-btn.open .menu-btn__icon::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__icon::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
}

.sidebar__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentation {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 500px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px;
}

.logo {
  position: absolute;
  top: 16px;
  left: 100px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: var(--clr-mix);
  color: var(--clr-light);
  padding: 0.25em 0.5em;
}

.presentation__title {
  margin: 0;
  font-size: var(--step-1);
  color: var(--clr-mix);
  font-weight: 300;
}

.presentation__title--accent {
  color: var(--clr-accent);
  font-size: var(--step-2);
  font-weight: 700;
}

.presentation__title--important {
  font-size: var(--step-4);
  font-weight: 600;
}

.presentation__text {
  font-size: var(--step--1);
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 300;
  line-height: 2rem;
}

.btn {
  font-size: var(--step--2);
  background-color: var(--clr-accent);
  color: var(--clr-light);
  padding: 0.75em 1.5em;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 3px;
}

/* NAVIGATION */

.nav {
  position: fixed;
  right: -100%;
  top: 0;
  width: calc(100% - 500px);
  height: 100%;
  padding: 100px;
  background-color: var(--clr-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  z-index: 10;
}

.nav.active {
  right: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 0;
}

.nav__item {
  list-style: none;
  margin: 30px 0;
}

.nav__link {
  color: var(--clr-light);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--clr-accent);
}

/* SOCIAL-NAV */

.social-media {
  position: absolute;
  left: 100px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.social-media__item {
  margin-right: 10px;
  list-style: none;
}

.social-media__img {
  width: 2.5rem;
  opacity: 0.7;
}

.social-media__img:hover {
  filter: invert(70%) sepia(62%) saturate(4684%) hue-rotate(145deg)
    brightness(95%) contrast(101%);
}

/* SECTION ABOUT-ME */

.about-me {
  padding: 100px;
  background-color: var(--clr-dark);
}

.about-me__container {
  text-align: center;
  color: var(--clr-light);
}

.about-me__title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 80px;
  height: 3px;
  background-color: var(--clr-light);
}

.about-me__side-box {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 2rem;
  text-align: justify;
}

.about-me__text {
  margin-top: 0;
  color: var(--clr-light);
  line-height: 1.5rem;
  font-weight: 500;
  align-self: center;
}

.about-me__text,
.about-me__imgbox {
  width: 100%;
}

.about-me__imgbox {
  min-height: 400px;
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* PROJECTS */

.projects {
  padding: 100px;
}

.projects__title-box {
  text-align: center;
}

.projects__title {
  color: var(--clr-dark);
}

.projects__title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 80px;
  height: 3px;
  background-color: var(--clr-dark);
}

.projects__grid-container {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 18rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  margin-top: 100px;
  margin-bottom: 100px;
}

.card {
  border: 3px solid var(--clr-dark);
  background-image: url(../img/recipe.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* SKILLS */

.skills {
  background-color: var(--clr-dark);
  text-align: center;
  padding: 100px;
}

.skills__title {
  color: var(--clr-light);
}

.skills__title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 80px;
  height: 3px;
  background-color: var(--clr-light);
}

.skills__container {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 20px;
}

.skill__card {
  display: grid;
  place-content: center;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #464646;
  text-align: center;
  color: #464646;
  position: relative;
  transition: 0.5s;
}
.skill__card:hover {
  color: #fff;
}

.skill__card--html:hover {
  background-color: #e34f26;
}

.skill__card--css:hover {
  background-color: #379ad6;
}

.skill__card--javascript:hover {
  background-color: #f7df1e;
}

.skill__card--much-more:hover {
  background-color: plum;
}

.skill__name {
  font-size: 2rem;
  color: inherit;
}

.skill__name:hover {
  color: inherit;
}

/* FOOTER */

.contact {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  padding: 100px;
}

.contact__title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 80px;
  height: 3px;
  background-color: var(--clr-light);
}

/* FORM */

.form {
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.form__fieldset {
  border: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form__input,
.form__text-area {
  width: 100%;
  display: block;
  height: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  margin: 30px 0;
  text-transform: capitalize;
}

.form__text-area {
  height: 200px;
  resize: none;
}

.form__btn {
  outline: none;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
}

/* MEDIAQUERRIES */

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .presentation {
    width: 100%;
    padding: 40px;
  }

  .logo,
  .social-media {
    left: 40px;
  }

  .nav {
    width: 100%;
  }

  .about-me,
  .projects,
  .skills,
  .contact {
    padding: 40px;
  }

  .about-me__side-box {
    flex-direction: column;
  }

  .form__fieldset {
    flex-direction: column;
  }
}
