body {
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.split{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}

.split h1 {
  font-size: 4rem;
  color: white;
}

.split a {
 color: white;
 text-decoration: none;
 border: medium solid white;
 padding: 2rem 6rem;
 font-size: 2rem;
}

.split:hover {
  flex-grow: 30;
}

.left {
  background-image: url("./ps.jpg");
  flex-grow: 1;
}


.right {
  background-image: url("./xbox.jpg");
  flex-grow: 1;
}

