.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  align-items: center;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}
.hero-img {
  position: relative;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
.hero-img img {
  position: absolute;
  border-radius: 6px;
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1);
}
.hero-subtitle {
  color: #45c1ff;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  display: block;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.hero h1 {
  max-width: 75%;
  margin-bottom: 1.5rem;
}
.hero p {
  max-width: 50%;
  margin-bottom: 1.5rem;
}

.hero-btns {
  margin-bottom: 4.5rem;
  padding-top: 0.5rem;
}
